*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    scroll-behavior: smooth;

}
/* header navigator*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(52, 52, 52, 0.1);
}
.logo{
    display: flex;
    gap: 5px;
    align-items: center;
}
.logo h1{
    background-color: rgb(190, 8, 245);
    color: white;
    font-size: 1.5rem;
    padding: 6px 12px;
    border-radius: 100%;
}
header nav ul{
    display: flex;
    width: 50%;
    gap: 20px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 1rem;
}
.contact-btn{
    background-color: rgb(190, 8, 245);
    color: white;
    padding: 8px 20px;
    font-size: 1rem;
    text-decoration: none;
}
.contact-btn:hover{
    background-color: white;
    color: rgb(190, 8, 245);
    border: 1px solid rgb(190, 8, 245);
}
/*hero section */
section{
    padding: 20px 100px;
}
.top-card{
    display: flex;
    height: auto;
    align-items: self-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.detail-cont{
    width: 55%;
    display: flex;
    flex-direction: column;
}
.detail-cont h1{
    font-size: 2rem;
    margin-bottom: 20px;
}
.sub-detail{
    font-size: 1rem;
    color: silver;
    margin-bottom: 20px;
}
.detail-cont button{
    background-color: rgb(190, 8, 245);
    color: white;
    padding: 15px 40px;
    font-size: 1rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 150px;
}
.card-holder{
    display: flex;
    width: 100%;
    height: 175px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.exp-card{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(234, 206, 243);
    border-radius: 15px;
     
}
p{
    font-size: 2rem;
    font-weight: 850;
}
.exp-detail span{
    color: silver;
}

.exp-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 40px;
    
}
.exp-card > div:nth-child(2){
    color:blue;
    border: 1px solid white;
}






.img-container{
    width: 40%;
    display: flex;
    align-items: flex-start;
    background-color: rgb(190, 8, 245);
}
img{
    width: 100%;
    border-radius: 10px;
}
